/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    color: lightgray; 
    background: #1f1f1f;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";	
    font-size: 14px;
}
ol, ul {
	list-style: none;
}
li {
    list-style-type: square;
}
li.rounder {
    list-style-type: none;
}
h1 {
    color: white;
}
h2 {
    margin-top: 5;
    margin-bottom: 2;
    color: white;
}
h3 {
    color: white;
}
/* --header ---------------------------- */
header {
    text-align: left;
    height: auto;
}
header img {
    cursor: pointer; 
    height: 30px;
}
.headerBackButton {
    position: relative;
    top: -45px;
    left: 0px;
    text-align: right;
}
main {
    margin-top: 10px;
}
.topBar {
    position: absolute;
    top: 10px;
    right: 90px;
    width: 30px;
}
.topBar img {
    cursor: pointer; 
    height: 30px;
}

/* --footer ---------------------------- */
footer {
    right: 90px;
    text-align: left;
    margin-bottom: 10px;;
}
footer img {
    cursor: pointer; 
    height: 30px;
}
.footerBar {
    width:100%;
    position: relative;
}
.footerText {
    position: absolute;
    left: 0px;
    top: 15px;
    width: 200px;
    text-align: left;
    z-index: 3;
}
.footerBackButton {
    position: absolute;
    right: 0px;
    width: 50px;
    text-align: right;
    z-index: 3;
}
.botBar {
    position: absolute;
    bottom: 20px;
    right: 90px;
    width: 30px;
}
.botBar img {
    cursor: pointer; 
    height: 30px;
}

/* --quoting ---------------------------- */
.quote {
    margin: 0;
    background: #ccc;
    padding: 1em;
    border-radius: 1em;
}
  .quote figcaption,
  .quote blockquote {
    margin: 1em;
}
/* --quoting ---------------------------- */

table {
	border-collapse: collapse;
}
.centered {
    width: 300px;
    margin: 0 auto;
}
th {
        color: #ffffff;
        font-weight: bold;
        font-size: 14px;
        /* background-color:#c4c8cc; */
        text-align: left;
        margin-bottom: 5px;
}
.class-th {
        color: #000000;
        font-size: medium;
        font-weight: normal;
        background-color: #c4c8cc;
        text-align: left;
        margin-bottom: 5px;
}
.headline {
        color: #ffffff;
        font-weight: bold;
        font-size: 15pt;
        text-align: center;
        margin-bottom: 5px;
		text-shadow: 2px 2px 4px #666;
}
.stitle {
        text-align: center;
        margin-bottom: 5px;
		text-shadow: 2px 2px 4px #666;
}
.normalText {
    font-family: Verdana, Arial rounded;
    font-size: 14px;
}
td {
        font-family: Verdana, Arial rounded;
        font-size: 14px;
        color: #cecece;
        vertical-align: top;
}
a {
        font-family: Verdana, Arial rounded;
        font-size: 14px;
        color: #fff;
        text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: #fff;
}
a.smallLink {
        font-family: Verdana, Arial rounded;
        font-size: 9pt;
        color: #fff;
        text-decoration: none;
}
.selectedLink {
    font-weight: bold;
    color: #fff;  
}
p {
	font-family: Verdana, Arial rounded;
    font-size: 14px;
	color: lightgray;
	margin: 0;
	padding: 8px 0;
	line-height: 18px;
}
.TableContainer {
    width: 800px;
    margin: auto;
}
.Row {
    display: table;
    width: 100%; /*Optional*/
    table-layout: fixed; /*Optional*/
    /*border-spacing: 10px; /*Optional*/
    padding: 5px;
}
.Column {
    display: table-cell;
    vertical-align: top;
    padding: 0px 5px;
}
.container {
    display: flex;
    flex-flow: row wrap;
}
#container {
        /* web full centered */
        position: relative;
        margin-left: auto ;
        margin-right: auto ;
        width: 1000px;
}
#containerWide {
    /* web full centered */ 
    position: relative;
    margin-left: auto ;
    margin-right: auto ;
    width: 1500px;
}
#header {
	height: 134px;
	width: 1000px;
	background-image: url('../images/header.jpg');
	background-repeat: no-repeat;
}
#menus {
        position: absolute;
        top: 130px;
	width: 1000px;
        margin: auto;
}
#menuText {
/*        position: absolute;
        right:50px;
        top:20px; */
	font-family: Arial;
        color: #fff;
        font-size: x-large;
}
.smallText 
{
	font-family: Verdana, Arial rounded;
    color: lightgray;
    font-size:10px;
    text-decoration: none;
}
.subtitleText 
{
	font-family: Verdana, Arial rounded;
    color: lightgray;
    font-size:10px;
    text-decoration: none;
}
#selector {
        position: absolute;
        top:570px;
        width: 1000px;
        margin: auto;
        color: #fff;
        font-family: Arial;
        font-size: large;
        text-align: center;
}
#selectorContact {
        position: absolute;
        top:558px;
        width: 1000px;
        margin: auto;
        text-align: center;
}
.toTheRight {
    position:relative; /* based on container */
    top:2px; 
    left:90%;
}
/* menu link */
a.mlink {
	font-family: Arial;
        color: #fff;
        font-size: x-large;
        text-decoration: none;
}
a.mlink:hover {
        text-decoration: underline;
        color: #ddd;
}
a.mlink:visited {
    color: #fff;    
}

/* bottom menu link */
.blink {
	font-family: Arial;
        color: #fff;
        font-size: large;
        text-decoration: none;
}
a.blink:hover {
        text-decoration: underline;
}
a.blink:visited {
    color: #fff;    
}
/* small link */
.slink {
	font-family: Verdana, Arial rounded;
        color: #ccc;
        font-size: x-small;
        text-decoration: none;
}
a.slink:hover {
        text-decoration: underline;
}
#content {
        position:relative;
	width: 1000px;
        top:180px;
        height: 370px;
        overflow: auto;
}
#content_panorama {
        position:relative;
	width: 1150px;
        top:166px;
        height: 397px;
        overflow: hidden;
        margin-left: auto;
        margin-right: auto;
}
#wrapper {
        position:relative;
	width: 820px;
        margin-left: auto;
        margin-right: auto;
}
#footer {
        position:relative;
	height: 86px;
	width: 1000px;
}
#footArea {
        position: absolute;
        top:620px;
/*	height: 200px; */
	width: 1000px;
}
#footItems {
    width:1000px;
    margin: auto;
    font-size: x-small;
}
#icon_images {
    position: absolute;
    left: 20px;
    width: 114px;
    height: 114px;
}
#app_sshots {
    position: absolute;
    right: 0px;
    width: 250px;
    height: 373px;
}
#app_data {
    position: absolute;
    right: 0px;
    top: 430px; 
}
#app_text {
    position: absolute;
    left: 0px;
    width: 450px;
}
#app_moreText {
    display: none;
}
#app_caseUse {
    display: inline;
}
#app_list {
    position: absolute;
    left: 0px;
}
#web_list {
     position: relative;
    left: 0px;
}
#web_sshots {
    position: absolute;
    right: 0px;
}
.boldText {
    font-weight: bold;
}
#iPad {
    background-image: url('../images/ipad.png');
    background-repeat: no-repeat;
    height:896px;
}
#iPadframe {
    position: relative;
    top:103px;
    left:81px;
    height: 703px;
}
/* image frame */
.frame {
    padding:4px;
    background: #fff;
    border: 1px solid black;
}
/* utils */
.text-shadow {
   text-shadow: 2px 2px 4px #666;
}
/* background gradient */
.bg_grad {
    background-image: linear-gradient(bottom, rgb(245,245,245) 27%, rgb(204,186,186) 64%);
    background-image: -o-linear-gradient(bottom, rgb(245,245,245) 27%, rgb(204,186,186) 64%);
    background-image: -moz-linear-gradient(bottom, rgb(245,245,245) 27%, rgb(204,186,186) 64%);
    background-image: -webkit-linear-gradient(bottom, rgb(245,245,245) 27%, rgb(204,186,186) 64%);
    background-image: -ms-linear-gradient(bottom, rgb(245,245,245) 27%, rgb(204,186,186) 64%);
/*
    background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0.27, rgb(245,245,245)), 
            color-stop(0.64, rgb(204,186,186))
    );
*/
}
/*  You can create any kind of border you want for any object(s) on your website using this. Just supply your own border.png image, 
    and the use the border-image property on a object to add that image-based border to it.
*/
#border-image-style {
   border-width:15px;
   /* 3 types of border exist repeated, rounded or stretched (repeat / round / stretch) 
   -moz-border-image:url(border.png) 30 30 stretch ;
   -webkit-border-image:url(border.png) 30 30 stretch;
*/
}
/*  Helps make your borders and images ?pop? from the background more, giving a subtle 3D-like visual cue that it?s something separate,
in the foreground, and the thing that visitors should be looking at.
            box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
       -moz-box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
*/
/*  Add rounded corners to your CSS3-based elements, like a border or button. You can change the radius to increase or decrease the 
    rounding of the corners. This is a blanket rounding of each corner; the next code snippet lets you individually round each of the 
    4 corners.
*/
.round, .roundTitle {
    background-color: rgb(66, 66, 66);
    border-radius: 10px; /* future proofing */
    border: 1px solid #eceff133;
    padding: 2px 10px 5px 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.roundTitle {
    font-size: 18px;
} 
.round_transparent {
    background-color: rgba(66, 66, 66, 0.4);
    border-radius: 10px; /* future proofing */
    border: 1px solid #eceff133;
    padding: 2px 5px 5px 10px;
    position: relative;
    text-align:left;
    /* for hovering (mouse out) */
    transition: 0.3s;
}
.round_transparent:hover {

    background-color: rgba(100, 100, 100, 0.4);
    border: 1px solid #efefef;
    transition: 0.3s;
}
.round_trans_min {
    background-color: rgba(66, 66, 66, 0.4);
    border-color: #b6b6b6;
    border-radius: 10px; /* future proofing */
    padding: 2px 5px 5px 10px;
    /*margin-top: 5px;*/
    position: relative;
    text-align:left;
    min-height: 110px;
}
/* card color 
   --------------------------------------*/
   .round_public {

    background-color: rgba(53, 119, 151, 0.4);
    border: 1px solid #a2d0ef33;
    border-radius: 10px; /* future proofing */
    padding: 2px 5px 5px 10px;
    position: relative;
    text-align: left;
    /* for hovering (mouse out) */
    transition: 0.3s;
}
.round_public:hover {

    border: 1px solid #efefef;
    transition: 0.3s;
}
.rounded {
    background-color: rgba(216, 215, 215, 0.4);
    border-radius: 10px; /* future proofing */
}
.tcenter {
    text-align: center;
}
.linkCard {
    width: 200px;
    height: 130px;
    background-color: rgba(121, 121, 121, 0.4); 
    border: 1px solid rgb(132, 132, 132);
    border-radius: 10px; /* future proofing */
    margin: 10px 0px 0px 0px;
    padding: 5px;
    border-style: solid;
    border-color: #999;
}
.linkCard .status {

    width: 20px; 
    vertical-align:middle;
    text-align: right;
}
.roundedLink {
    background-color: rgba(121, 121, 121, 0.4); 
    border: 1px solid rgb(132, 132, 132);
    border-radius: 10px; /* future proofing */
    margin: 10px 0px 0px 0px;
    padding: 5px;
    border-style: solid;
    border-color: #999;
}
.roundCentered {
    background-color: rgb(84, 84, 84);
    border-radius: 10px; /* future proofing */
    padding: 2px 5px 5px 10px;
    width: 500px;
    margin: auto;
    font-size: 25px;
    text-align: center;
}
.warning {
    background-color: rgba(201, 246, 22, 0.4);
    border-radius: 10px; /* future proofing */
    color: rgb(242, 22, 22)
}
 /*  With CSS3, you no longer need a background image for gradients ? you can use CSS to add a gradient to the background of something. 
    Change the color hex values (?74b8d7? and ?437fbc?) to the color gradient you want.
    background: -webkit-gradient(linear, left top, left bottom, from(#74b8d7), to(#437fbc));
    background: -moz-linear-gradient(top,  #74b8d7,  #437fbc);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#74b8d7', endColorstr='#437fbc');

*/
/*  This adds nice page breaks to articles and other long-form content on your website when your visitor decides to print it. 
*/
.page-break {
   page-break-before:always;
}
/*  Pull-quotes: a differently-formatted quote from an article that stands out and is meant to highlight a key statement or other text. 
*/
.pull-quote {
   width: 200px;
   float: right;
   margin: 5px;
   font-family: Georgia, "Times New Roman", Times, serif;
   font: italic bold #ff0000 ;
}
/*  Quotes with no image
    <blockquote>
	text
	<cite>Somebody famous</cite>
    </blockquote>
*/
blockquote {
	font-family: Georgia, serif;
	font-size: 18px;
	font-style: italic;
	width: 500px;
	margin: 0.25em 0;
	padding: 0.25em 40px;
	line-height: 1.45;
	position: relative;
	color: #383838;
}
blockquote:before {
	display: block;
	content: "\201C";
	font-size: 80px;
	position: absolute;
	left: -20px;
	top: -20px;
	color: #7a7a7a;
}
blockquote cite {
	color: #999999;
	font-size: 14px;
	display: block;
	margin-top: 5px;
}
blockquote cite:before {
	content: "\2014 \2009";
}
/*  Center content vertically
*/
.valign-container {
   min-height: 10em;
   display: table-cell;
   vertical-align: middle;
}
/*  Wait while loading images
*/
img {
   /* background: url('../images/loader.gif') no-repeat; */
   background-position: center center;
   margin: 5px;
}
img.img-circle {
    border-radius: 50%;
}
img:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}
/*  Add a drop cap
p:first-letter {
    display:block;
    margin:0px 0 0 0px;
    float:left;
    color:#ddd;
    font-size:25px;
    font-family:Arial;
}
*/
/*  You can make a box or any object on your website transparent with this, changing the opacity value to how transparent you want it 
    to be as <div class="box transparent">Your content</div>
*/
.transparent {
   filter:alpha(opacity=50);
   -moz-opacity:0.5;
   -khtml-opacity:0.5;
   opacity:0.5;
}
/* external links
The ^= specifies that we want to match links that begin with the http://
*
a[href^="http://"]{
    padding-right: 20px;
    background: url(external.gif) no-repeat center right;
}
*/
/* emails
The ^= specifies that we want to match links that begin with the mailto:
*/
a[href^="mailto:"]{
    padding-right: 20px;
    background: url(email.png) no-repeat center right;
}
 
/* pdfs
The $= specifies that we want to match links whose hrefs end with ".pdf".
a[href$=".pdf"]{
    padding-right: 20px;
    background: url(pdf.png) no-repeat center right;
}
*/
/* zip
Same as above but for zip files and it adds an icon at the right of the link. Therefore the :after
*/
a[href$=".zip"]:after{
    content: url(icons/zip.png);
}
/*  Having multiple text columns
*/
#columns-3 {
   text-align: justify;
}
/*  Save bandwidth and the hassle of creating a separate ?hover? version of your button by using this sprite. It moves the background 
    image of your button down when hovering over it, creating the hover effect.
a {
       display: block;
       background: url(sprite.png) no-repeat;
       height: 30px;
       width: 250px;
}
 
a:hover {
       background-position: 0 -30px;
}
*/
/*  This is for when you have a button or arrow or other functional graphic that you don?t want or need to manually flip and upload an 
    entirely separate image.
*/
img.flip {
   -moz-transform: scaleX(-1);
   -o-transform: scaleX(-1);
   -webkit-transform: scaleX(-1);
   transform: scaleX(-1);
   filter: FlipH;
   -ms-filter: "FlipH";
}
/*  Inputs with glow on focus
*/
input{
    font-size:18px;
    font-family: Arial, helvetica;
    outline:none;
    transition: all 0.75s ease-in-out;
    -webkit-transition: all 0.75s ease-in-out;
    -moz-transition: all 0.75s ease-in-out;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border:1px solid rgba(0,0,0, 0.2);
    color:#565656;
    background-color:#ddd;
    padding: 3px;
}
 
input:focus {
    box-shadow: 0 0 10px #ddd;
    -webkit-box-shadow: 0 0 10px #ddd;
    -moz-box-shadow: 0 0 10px #ddd;
    border:1px solid #999;
    background-color:#fff;
}
.ibutton {
    color: #999999;
    cursor: hand;
}
.ibutton:hover {
    color: #000;
    background-color: #fff;
    box-shadow: 0 0 10px #ddd;
    -webkit-box-shadow: 0 0 10px #ddd;
    -moz-box-shadow: 0 0 10px #ddd;
    border:1px solid #999;
}
textarea{
    font-size:15px;
    font-family: Arial, helvetica;
    outline:none;
    transition: all 0.75s ease-in-out;
    -webkit-transition: all 0.75s ease-in-out;
    -moz-transition: all 0.75s ease-in-out;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border:1px solid rgba(0,0,0, 0.2);
    color: #565656;
    background-color:#ddd;
    padding: 3px;
}
textarea:focus {
    box-shadow: 0 0 10px #aaa;
    -webkit-box-shadow: 0 0 10px #aaa;
    -moz-box-shadow: 0 0 10px #aaa;
    border:1px solid #999;
    background-color:#fff;
}
select{
    font-size:18px;
    font-family: Arial, helvetica;
    outline:none;
    transition: all 0.75s ease-in-out;
    -webkit-transition: all 0.75s ease-in-out;
    -moz-transition: all 0.75s ease-in-out;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border:1px solid rgba(0,0,0, 0.2);
    color:#565656;
    background-color:#ddd;
    padding: 3px;
}
 
select:focus {
    box-shadow: 0 0 10px #aaa;
    -webkit-box-shadow: 0 0 10px #aaa;
    -moz-box-shadow: 0 0 10px #aaa;
    border:1px solid #999;
    background-color:#fff;
}
.form-container{
	display:block;
	padding-top:50px;
	width:600px;
	margin:0 auto;
}
hr.clear {
    background: none;
    border: 0;
    clear: both;
    display: block;
    float: none;
    font-size: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
    }
/* pijama */
.rowOdd {
    background-color: #ffffff;
}
.rowEven {
    background-color: #cccccc;
}
.logo {
    border-radius: 10%;
    width:50px;
    /* shadow */
    box-shadow: 5px 5px 5px rgb(31, 30, 30);
    margin: 13px 0px 0px 10px; 
}
.float-left {
    float: left;
    width: 33%;
}
/*
    Now we can make a two-column layout using relative and absolute positioning!
    Page https://diaridigital.net/googleSagaAllAuthors.php
*/
#div-top {
    position:relative;
    width:90%; 
    margin:auto;
    font-size:10pt;
}
#div-left {
    position:absolute;
    top:0;
    left:0;
    width:200px;
}
#div-right {
    position:absolute;
    top:0;
    right:0;
    width:200px;
}