.garden {
    background-image: url(forest.jpg);
    height: 700px;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
  }
  
  #panda {
    background-image: url(panda.png);
    height: 350px;
    width: 250px;
    position: absolute;
    bottom: 0%;
    animation: walk 0.5s steps(12) infinite, forward 5s linear infinite;
  }
  
  @keyframes walk {
    0% {
      background-position: 0px;
    }
  
    100% {
      background-position: 3000px;
    }
  }
  
  @keyframes forward {
    0% {
      transform: translateX(0px);
    }
  
    100% {
      transform: translateX(900px);
    }
  }
  